.form-edit {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-edit-todo {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 50px;
  }
}
